<template>
  <v-card >
    <v-card-media class="red--text title blue">
      <v-container fill-height fluid>
        <v-layout fill-height>
          <v-flex style="color: white" xs12 align-end flexbox>
            {{ post.title }}
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-media>
    <v-card-text>
      {{ post.content }} blogs realizado con Vuejs para cidesa
       Empresa en la cual estoy cumpliendo con las
    </v-card-text>
    <v-card-actions>
    <v-avatar size="36px" slot="activator">
      <img :src="post.avatar">
    </v-avatar>
      {{post.author}}
      <v-spacer></v-spacer>
    <!-- <v-btn icon>
        <v-icon>favorite</v-icon>
      </v-btn>-->
      <v-btn icon>
        <v-icon>bookmark</v-icon>
      </v-btn>
      <v-btn @click="like" icon>
        <v-icon>thumb_up</v-icon>
        {{ post.likes }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'Post',
  props: ['post'],
  methods: {
    like() {
      this.$store.dispatch('likes', this.post);
    },
  },
};
</script>

<style>

</style>
