<template>
 <v-container>
    <div id="Tarea" class="col-sm-8 col-sm-offset-2">
     <h1>{{nameApp}}</h1>
    <form v-on:submit="agregarTarea" class="app-form">
        <v-text-field name="input-1-3" v-model="tareas.titulo" class="form-control"/>
        <input type="submit" value="Agregar"  style="background: #1199c8" class="btn btn-block btn-success">
  </form>
     <table class="table">
        <thead>
          <tr>
            <th>Hecho!</th>
            <th>Tarea</th>
            <th>Eliminar</th>
          </tr>
  </thead>
        <tbody>
          <tr v-for="tarea in tareas">
            <td>
              <input type="checkbox" v-model="tarea.hecho">
            </td>
            <td :class="{tareaRealizada: tarea.hecho}">
              {{tarea.titulo}}
            </td>
            <td>
              <button v-on:click="eliminarTarea(tarea)" style="background: #e94b3e" class="btn btn-danger">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>  
      </table>
    </div>      
  </v-container>
</template>
<script>
export default {
 name: 'Tarea',
 data() {
  return {
nameApp: 'Tareas',
tareas: [
 {
   titulo: 'tarea 1',
   hecho: false,
 },
 {
   titulo: 'tarea 2',
   hecho: false,
 },
 {
  titulo: 'tarea 3',
  hecho: false,
      },
    ],
  };
},
methods: {
eliminarTarea: function (tarea){
this.tareas.splice(this.tareas.indexOf(tarea), 1);
},
agregarTarea: function (e) {  
e.preventDefault();
this.tareas.push({
titulo: this.tareas.titulo,
hecho: false,
});
this.tareas.titulo = '';
    },
  },
};
</script>
