<template>
  <v-app>
      <v-toolbar dark class="primary">
        <h2 style="color:white" >Blog Jesus Elias</h2>
        <v-container>
            <v-layout align-end justify-end>
              <v-flex md5>
                <v-toolbar-items>
                  <v-btn flat @click="clickTarea">Tareas</v-btn>
                  <v-btn flat @click="clickNew">Nuevo</v-btn>
                  <v-btn flat @click="clickLists">Listado</v-btn>
                  <v-btn flat @click="clickPost">Reporte</v-btn>
                  <v-btn flat @click="clickPost">Reporte</v-btn>
                </v-toolbar-items>
              </v-flex>
            </v-layout>
        </v-container>
      </v-toolbar>
      <v-container>
        <v-layout>
          <v-flex sm6>
            <v-card>
              <v-card-media
                class="white--text display-1"
                src="https://vuetifyjs.com/static/doc-images/cards/docks.jpg"
              >
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox blue--text>
                      Bienvenido
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>
              <v-card-text>
               <router-view/>
              </v-card-text>
            </v-card>
          </v-flex>

          <v-flex sm6>
              <v-card-media>
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox blue--text>
                     <img src="./img/blog.jpg">
                     <h1>Esto es una practica para cidesa en el cual se implementa Vuejs
                     frameworks de javascript</h1>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>
          </v-flex>
        </v-layout>

      </v-container>

  </v-app>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      config: {
        btn1: 'cached', btn2: 'add', edit: false,
      },
    };
  },
  methods: {
    clickPost() {
      this.$router.push({ name: 'blog' });
    },
    clickNew() {
      this.$router.push({ name: 'New', params: { config: this.config } });
    },
    clickLists() {
      this.$router.push({ name: 'Lists' });
    },
    clickTarea() {
      this.$router.push({ name: 'Tarea' });
    },
  },
  created() {
    this.$store.dispatch('fetchPosts');
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background-image: url("https://vuetifyjs.com/static/doc-images/vbanner.jpg");
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.primary{
  background: blue;
}

</style>
